<h2>Students</h2>
<ul class="students">
    <li *ngFor="let student of students" 
    [class.selected]="student === selectedStudent"
    (click)="onSelect(student)"> 
        <span class="badge">{{student.id}}</span> {{student.name}} {{student.isPositive}}
    </li>
</ul>

    <div *ngIf="selectedStudent">
        <h2>{{selectedStudent.name}} Details</h2>
        <div><span>id: </span>{{selectedStudent.id}}</div>
        <div>
        <label>First Name:
            <input [(ngModel)]="selectedStudent.fname" placeholder="fname"/>
        </label>
        </div>
        <div>
        <label>Middle Name:
            <input [(ngModel)]="selectedStudent.mname" placeholder="mname"/>
        </label>
        </div>
        <div>
        <label>Last Name:
            <input [(ngModel)]="selectedStudent.lname" placeholder="lname"/>
        </label>
        </div>
        <div>
        <label>Email:
            <input [(ngModel)]="selectedStudent.email" placeholder="email"/>
        </label>
        </div>
        <div>
        <label>Phone:
            <input [(ngModel)]="selectedStudent.email" placeholder="email"/>
        </label>
        </div>
        <div>
        <label>Residence:
            <input [(ngModel)]="selectedStudent.residence" placeholder="residence"/>
        </label>
        </div>
        <div>
            <label>Is COVID postive:
            <input [(ngModel)]="selectedStudent.isPositive" placeholder="isPositive"/>
            </label>
        </div>
    </div>